[Unit]
Description=Servico de monitoramento de tela

[Service]
ExecStart=~/.local/bin/CaptureScreenClient/DeviceAgent

Restart=always
RestartSec=3

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target